@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

is palette {
    color: #267365, #f2cb05, #f29f05, #f28705, #f23030;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #267365;
    max-height: calc(100% - 300px);
}

/* Header Desktop */

.header-mobile {
    display: none;
}

header {
    background-image: url(images/background.jpg);
    background-size: cover;
    height: calc(100vh + 230px);
}

.header-desktop {
    background-image: linear-gradient(#000, #267365ad);
    height: calc(100vh - 100px);
}

.header-desktop #social {
    display: flex;
    padding-left: 30px;
    padding-top: 15px;
}

.header-desktop #social li {
    display: inline-block;
    list-style: none;
    padding: 10px;
}

.header-desktop #social li a {
    color: #f2f2f2;
    background-color: #267365;
    border-radius: 50%;
    padding: 6px 9px;
    transition: 0.3s;
}

.header-desktop #social li a:hover {
    color: #000;
    background-color: #fff;
}

.header-desktop #menu {
    margin-top: 200px;
}

.header-desktop #menu nav {
    display: flex;
    justify-content: center;
}

.header-desktop #menu nav li {
    display: inline-block;
    list-style: none;
    padding: 10px;
}

.header-desktop #menu .branding1 {
    background-image: url(images/branding1.png);
    background-size: cover;
    height: 120px;
    width: 120px;
    transform: translateY(-45px);
    margin: 0 15px;
    cursor: pointer;
    transition: 0.5s;
}

.header-desktop #menu .branding1:hover {
    height: 109px;
    width: 109px;
}

.header-desktop #menu nav li a {
    color: #f2f2f2;
    font-size: 13pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: #1f5e52;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.header-desktop #menu nav li a:hover {
    color: #f2f2f2;
    font-size: 14pt;
    background-color: #267365;
}

/*  aboutme  */

main #aboutme {
    display: flex;
    transform: translateY(-330px);
    justify-content: center;
    padding: 30px;
    background-color: #267365ad;
}

main #aboutme h2 {
    font-family: 'Radio Canada Big', sans-serif;
    padding-bottom: 15px;
}

main #aboutme p {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ddd;
}

main #aboutme .job {
    transform: translateX(+25px);
}

main #aboutme .job h2 {
    color: #f2f2f2;
}

.branding {
    background-color: #f2cb05;
    background-image: url(images/branding.png);
    background-size: cover;
    border: 5px #e02828 dashed;
    border-radius: 100%;
    height: 300px;
    width: 300px;
    margin: 0 80px;
    transform: translateY(-30px) translateX(+20px);
}

main #aboutme .hello h2 {
    color: #e02828;
}

main #aboutme .hello p {
    max-width: 350px;
}

main #skills {
    transform: translateY(-330px);
}

main #skills h2,
main #skills p {
    text-align: center;
    transform: translateX(-20px);
}

main #skills h2,
main #portfolio h2 {
    color: #f2f2f2;
    font-family: 'Radio Canada Big', sans-serif;
    padding-bottom: 15px;
}

main #skills p,
main #portfolio p {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ddd;
    padding-bottom: 50px;
}

main #skills .slide {
    display: flex;
    justify-content: center;
}

main #skills .slide figure {
    margin: 0 15px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

main #skills .slide figure img {
    height: 100px;
}

main #skills .slide figure p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ccc;
    padding-top: 10px;
    transform: none;
}

main #skills .slide figure:hover {
    transform: scale(1.25, 1.25);
}

main #portfolio {
    background-color: #f29f05;
    transform: translateY(-300px);
}

main #portfolio h2,
main #portfolio p {
    color: #1c1b1b;
    padding-left: 30px;
}

main #portfolio h2 {
    padding-top: 20px;
}

main #portfolio .slider {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

main #portfolio .slider .port-dubs {
    cursor: pointer;
    background-color: #eba82c;
    margin: 10px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

main #portfolio .slider .port-dubs:hover {
    transform: scale(1.05, 1.05);
}

main #portfolio .slider .port-dubs img {
    height: 10rem;
    padding: 5px;
    border-radius: 10px;
}

#portfolio .slider .port-dubs h3 {
    color: #1c1b1b;
    padding-left: 10px;
}

#portfolio .slider .port-dubs p {
    color: #2e2e2e;
    padding-left: 10px;
    padding-bottom: 20px;
}

#portfolio .slider .port-dubs a {
    color: #f23030;
    font-size: 15pt;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding-left: 10px;
    transition: all 0.3s;
}

#portfolio .slider .port-dubs a:hover {
    color: #413f3f;
}

main #contactme {
    background-color: #f23030;
    transform: translateY(-300px);
}

main #contactme h2,
main #contactme p {
    text-align: center;
}

main #contactme h2 {
    color: #f2f2f2;
    font-family: 'Radio Canada Big', sans-serif;
    padding: 20px 0;
}

main #contactme p {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ddd;
    padding-bottom: 50px;
}

main #contactme #contato {
    text-align: center;
}

main #contactme #contato label {
    font-family: 'Radio Canada Big', sans-serif;
    font-size: 20px;
    color: #f2f2f2;
    text-align: left;
    padding-bottom: 10px;
}

::-webkit-input-placeholder  { color:#ccc; }
input:-moz-placeholder { color:#ccc; }
textarea:-moz-placeholder { color: #ccc; }

main #contactme #contato input,
#contato textarea {
    font-family: Arial;
    color: #f2f2f2;
    background-color: #e02828;
    border: 1px #f29f05 solid;
    border-radius: 10px;
    padding: 10px;
    outline: unset;
    margin-bottom: 15px;
}

main #contactme #contato input::selection {
    background-color: #eba82c;
    text-decoration: none;
}

main #contactme #contato input {
    width: 500px;
}

main #contactme #contato textarea {
    resize: none;
    width: 500px;
    height: 300px;
}

#contactme #contato input[type="button"] {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #f2f2f2;
    background-color: #e02828;
    border: 1px #f29f05 solid;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    cursor: pointer;
    transition: 0.3s;
}

#contactme #contato input[type="button"]:hover {
    color: #1c1b1b;
    background-color: #f29f05;
}

footer {
    transform: translateY(-300px);
}

@media screen and (max-width: 450px) {
    .header-desktop {
        display: none;
    }
    .header-mobile {
        display: block;
    }
}