@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');

is palette {
    color: #267365, #f2cb05, #f29f05, #f28705, #f23030;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #267365;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1b554a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#loading img {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #267365;
    animation: spin 1.5s linear infinite;
}

#loading p {
    margin-top: 80px;
    position: absolute;
    color: #f2f2f2;
    font-size: 14pt;
    padding-left: 20px;
    font-family: 'VT323', monospace;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Header Mobile */

header .header-mobile {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #1b554a;
    height: 50px;
}

.header-mobile #btn-menu {
    transform: translateX(-100px);
}

.header-mobile h3,
.header-mobile img {
    transform: translateX(-15px);
}

.header-mobile h3 {
    color: #eba82c;
    font-family: 'Poppins', sans-serif;
    margin: auto 0;
}

.header-mobile img {
    height: 50px;
    padding: 5px;
}

.header-mobile #menu-mobile {
    visibility: hidden;
    background-color: #1b554a8c;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 1;
    transition: 0.5s;
    overflow: hidden;
}

.header-mobile #menu-mobile.abrir {
    visibility: visible;
    height: calc(100vh - 50px);
}

.header-mobile #menu-mobile nav {
    display: flex;
    flex-direction: column;
}

.header-mobile #menu-mobile nav li {
    display: block;
    text-align: left;
    list-style: none;
    padding: 10px;
    transition: 0.5s;
}

.header-mobile #menu-mobile nav li a {
    color: #f2f2f2;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14pt;
    text-decoration: none;
}

.header-mobile #menu-mobile nav li:hover {
    background-color: #1b554a8c;
}

#btn-menu {
    background: transparent;
    height: 50px;
    width: 50px;
    border: none;
    /* border: 1px #fff solid; */
}

.linha {
    height: 2px;
    width: 20px;
    background-color: #ccc;
    margin: 5px auto;
    transition: 0.2s;
    z-index: 1;
}

#btn-menu.ativar .linha:nth-child(1) {
    transform: translateY(5px) rotate(-45deg);
    background-color: #e02828;
}

#btn-menu.ativar .linha:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
    background-color: #e02828;
}

#btn-menu.ativar .linha:nth-child(2) {
    width: 0;
}

/* Header Desktop */

.header-mobile,
.header-mobile #menu-mobile,
.header-mobile button,
.header-mobile h3,
.header-mobile img {
    display: none;
}

header {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header-desktop {
    background-image: linear-gradient(#000, #267365b7);
    background-size: cover;
    height: 100vh;
}

.header-desktop #social {
    display: flex;
    padding-left: 30px;
}

.header-desktop #social li {
    display: inline-block;
    list-style: none;
    padding-top: 30px;
    padding-left: 10px;
}

.header-desktop #social li a {
    color: #f2f2f2;
    background-color: #267365;
    padding: 7px 10px;
    border-radius: 50%;
    transition: all 0.5s;
}

.header-desktop #social li a:hover {
    color: #000;
    background-color: #f2f2f2;
}

/* Menu Desktop */

.header-desktop #menu nav {
    display: flex;
    justify-content: center;
    padding-top: 180px;
}

.header-desktop #menu nav li {
    display: inline-block;
    list-style: none;
    padding: 15px;
}

.header-desktop #menu nav li a {
    font-family: 'Radio Canada Big', sans-serif;
    font-size: 13pt;
    color: #f2f2f2;
    background-color: #267365;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
}

.header-desktop #menu nav li a:hover {
    font-size: 14pt;
    color: #ccc;
    background-color: #1b554a;
}

.header-desktop #menu .branding1 {
    background-image: url(images/branding1.png);
    background-size: cover;
    height: 140px;
    width: 140px;
    margin: 0 20px;
    transform: translateY(-50px);
    transition: 0.5s;
}

.header-desktop #menu .branding1:hover {
    height: 135px;
    width: 135px;
}

main .screen {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

main #aboutme {
    display: flex;
    background-color: #267365b7;
    justify-content: center;
    /* padding-bottom: 50px; */
}

main #aboutme h2 {
    font-family: 'Radio Canada Big', sans-serif;
    padding-bottom: 15px;
}

main #aboutme p {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ddd;
}

main #aboutme .job h2 {
    color: #f2f2f2;
}

main #aboutme .branding {
    background-image: url(images/branding.png);
    background-size: cover;
    border: 5px #f23030 dashed;
    border-radius: 50%;
    height: 240px;
    width: 240px;
    margin: 0 100px;
    margin-bottom: 20px;
    transform: translateX(+20px);
}

main #aboutme .hello h2 {
    color: #e02828;
}

main #aboutme .hello p {
    max-width: 350px;
}

main #skills {
    padding-top: 30px;
}

main #skills h2,
main #skills p {
    text-align: center;
    transform: translateX(-30px);
}

main #skills h2,
main #portfolio h2 {
    color: #f2f2f2;
    font-family: 'Radio Canada Big', sans-serif;
    padding-bottom: 15px;
}

main #skills p,
main #portfolio p {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ddd;
    padding-bottom: 50px;
}

main #skills .slide {
    display: flex;
    justify-content: center;
}

main #skills .slide figure {
    margin: 0 15px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

main #skills .slide figure img {
    height: 100px;
}

main #skills .slide figure p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ccc;
    padding-top: 10px;
    transform: none;
}

main #skills .slide figure:hover {
    transform: scale(1.25, 1.25);
}

main #portfolio {
    background-color: #f29f05;
}

main #portfolio h2,
main #portfolio p {
    color: #1c1b1b;
    padding-left: 30px;
}

main #portfolio h2 {
    padding-top: 20px;
}

main #portfolio .slider {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

main #portfolio .slider .port-dubs {
    cursor: pointer;
    background-color: #eba82c;
    margin: 10px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

main #portfolio .slider .port-dubs:hover {
    transform: scale(1.05, 1.05);
}

main #portfolio .slider .port-dubs img {
    height: 10rem;
    padding: 5px;
    border-radius: 10px;
}

#portfolio .slider .port-dubs h3 {
    color: #1c1b1b;
    padding-left: 10px;
}

#portfolio .slider .port-dubs p {
    color: #2e2e2e;
    padding-left: 10px;
    padding-bottom: 20px;
}

#portfolio .slider .port-dubs a {
    color: #f23030;
    font-size: 15pt;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding-left: 10px;
    transition: all 0.3s;
}

#portfolio .slider .port-dubs a:hover {
    color: #413f3f;
}

main #contactme {
    background-color: #f23030;
}

main #contactme h2,
main #contactme p {
    text-align: center;
}

main #contactme h2 {
    color: #f2f2f2;
    font-family: 'Radio Canada Big', sans-serif;
    padding: 20px 0;
}

main #contactme p {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ddd;
    padding-bottom: 50px;
}

main #contactme #contato {
    text-align: center;
}

main #contactme #contato label {
    font-family: 'Radio Canada Big', sans-serif;
    font-size: 20px;
    color: #f2f2f2;
    text-align: left;
    padding-bottom: 10px;
}

::-webkit-input-placeholder  { color:#ccc; }
input:-moz-placeholder { color:#ccc; }
textarea:-moz-placeholder { color: #ccc; }

main #contactme #contato input,
#contato textarea {
    font-family: Arial;
    color: #f2f2f2;
    background-color: #e02828;
    border: 1px #f29f05 solid;
    border-radius: 10px;
    padding: 10px;
    outline: unset;
    margin-bottom: 15px;
}

main #contactme #contato input::selection {
    background-color: #eba82c;
    text-decoration: none;
}

main #contactme #contato input {
    width: 500px;
}

main #contactme #contato textarea {
    resize: none;
    width: 500px;
    height: 300px;
}

#contactme #contato button {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #f2f2f2;
    background-color: #e02828;
    border: 1px #f29f05 solid;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    width: 500px;
    cursor: pointer;
    transition: 0.3s;
}

#contactme #contato button:hover {
    color: #1c1b1b;
    background-color: #f29f05;
}

footer p {
    color: #ccc;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 15px 0;
    text-align: center;
}

footer #container {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

footer #container h2 {
    color: #f2f2f2;
    padding-bottom: 15px;
}

footer #container li {
    list-style: none;
}

footer #container li a {
    color: #ccc;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    transition: all 0.3s;
}

footer #container li a:hover {
    color: #413f3f;
}

footer #container #menu-footer {
    padding-right: 350px;
}

@media screen and (max-width: 450px) {

    header {
        height: 50px;
    }

    header .header-desktop {
        display: none;
    }

    .header-mobile,
    .header-mobile #menu-mobile,
    .header-mobile button,
    .header-mobile h3,
    .header-mobile img {
        display: block;
    }

    main #aboutme {
        display: block;
        text-align: center;
        padding-top: 40px;
    }

    main #aboutme .branding {
        background-image: url(images/branding.png);
        background-size: cover;
        border: 5px #f23030 dashed;
        border-radius: 50%;
        height: 240px;
        width: 240px;
        margin: 20px 100px;
        transform: translateY(0px) translateX(-20px);
    }

    main #aboutme .hello {
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    main #aboutme .hello p {
        max-width: 300px;
        text-align: justify;
        margin-left: 50px;
        padding-bottom: 20px;
    }

    main #skills {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    main #skills h2,
    main #skills p {
        text-align: center;
        padding: 0;
        transform: translateX(0px);
    }

    main #skills p {
        padding: 10px;
    }
    
    main #skills .slide {
        display: block;
        text-align: center;
        justify-content: center;
    }

    main #skills .slide figure {
        display: inline-block;
        text-align: center;
        padding-top: 20px;
    }

    main #skills .slide figure img {
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 90px;
    }

    main #skills .slide figure:hover {
        transform: none;
    }

    main #skills .slide figure p {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: #ccc;
        padding-top: 10px;
        transform: none;
    }

    main #contactme #contato input,
    main #contactme #contato textarea,
    main #contactme #contato button {
        width: 350px;
    }
    
    footer #container #menu-footer {
        padding-left: 15px;
        padding-right: 100px;
    }

    footer #container #social-footer {
        padding-right: 15px;
    }

    footer #container #social-footer nav {
        text-align: right;
    }

    footer p {
        padding: 25px 0;
    }
}